
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<form action="" class="box" method="POST" >
<h1> Login </h1>
<input id='a' type="text" placeholder="Username">
<input type="password" placeholder="Password">
<input type="submit" value="Login">

<div>
    <div id="new">
        <a class="a_tag" href="#">Create a new account</a>
    </div>
    <div id="forgot">
        <a class="a_tag" href="#">Forgot your password?</a>
    </div>
</div>

</form>